
<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Task List</h2>
    </div>

      <table class="table table-striped">
          <tbody>
              <tr>
                <td colspan="2">
                    <div class="form-group">
                        <label for="name">Task Name</label>
                        <input type="text" class="form-control" [(ngModel)]="searchByTaskName">
                      </div>
                  
                </td>
                <td colspan="2">
                    <div class="form-group">
                        <label for="name">Parent Task Name </label>
                        <input type="text" class="form-control" [(ngModel)]="searchByPTaskName">
                      </div>
                </td>
              </tr>
              <tr>
                  <td>                    
                    <div class="form-group">
                      <label for="name">Priority From </label>
                      <input type="text" class="form-control" [(ngModel)]="searchByPriorityFrom">
                    </div>
                  </td>
                  <td>                    
                      <div class="form-group">
                        <label for="name">Priority To </label>
                        <input type="text" class="form-control" [(ngModel)]="searchByPriorityTo">
                      </div>
                  </td>
                  <td>
                      <div class="form-group">
                          <label for="name">Start Date </label>
                          <input type="date" class="form-control" [(ngModel)]="searchByStartDate">
                        </div>
                  </td>
                  <td>
                  <div class="form-group">
                          <label for="name">StarEnd Date </label>
                          <input type="date" class="form-control" [(ngModel)]="searchByEndDate">
                        </div>
                  </td>
    
              </tr> 
      </table> 
    <div class="panel-body">
    <div *ngFor="let task of tasks | async | taskFilter:searchByTaskName:searchByPTaskName:searchByPriorityFrom:searchByPriorityTo:searchByStartDate:searchByEndDate">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Task</th>
                <th>Parent</th>
                <th>Priority</th>
                <th>Start Date</th>
                <th>End Date</th>
                <!--<th>Task Status</th>-->
                <th colspan="4">Actions</th>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{task.task}}</td>
                <td>{{task.parentTask}}</td>
                <td>{{task.priority}}</td>
                <td>{{task.startDate}}</td>
                <td>{{task.endDate}}</td>
                <!--<td>{{task.taskStatus}}</td>-->
                <td colspan="4">
                  <div *ngIf= "task.taskStatus =='IN_PROGRESS' ">
                      <button (click)="completeTask(task.taskId)" class="btn btn-danger" >Complete Task</button>
                      <button (click)="taskUpdate(task.taskId)" class="btn btn-info" style="margin-left: 10px">Edit Task</button>
                  </div><br>
                  <div>
                    <button (click)="taskDetails(task.taskId)" class="btn btn-info" style="margin-left: 10px">Details</button>
                    <button (click)="deleteTask(task.taskId)" class="btn btn-info" style="margin-left: 10px">Delete Task</button>
                  </div>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
